.stack-index {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.stack-index-content {
  display: flex;
  flex: 1;
  height: 100%;
}

  
  .sidebar {
    width: 200px; /* Adjust width as needed */
    /* background-color: lightblue; Optional for visibility */
  }
  
  .main {
    flex-grow: 1; /* Takes the remaining space */
    /* background-color: lightgreen; Optional for visibility */
  }
  